jwt
numpy
rq
loguru
opencv-python-headless

aiofiles
huggingface_hub
onnxruntime-gpu==1.19.0
tokenizers
mmh3
snowballstemmer
python-dotenv
# ml_dtypes
# coloredlogs
# ulid

#----for database----
psycopg2
qdrant-client
minio
confluent-kafka
aiokafka
redis
# celery

langchain-core
langchain-google-genai
langchain_openai

# ----tts----
munch
noisereduce
phonemizer
espeakng-loader
nltk
soundfile
librosa
nvidia-ml-py
